
ul {
	text-align: center;
}

ul li{
	display:inline-block;
	list-style-type: none;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: 'arial';
	font-size: 15px;
	border-color: orange;
	border-style: solid;

}

.hl{
	background-color: blue;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-weight: bold;

}

.hl:hover{
	background-color: yellow;
	cursor: pointer;
	color: black;
	transform: scale(1.5);
}

ol{
	text-align: center;
}

ol li{
	display:inline-block;
	list-style-type: none;
	padding: 20px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: 'arial';
	font-size: 10px;
	border-color: blue;
	border-style: solid;
}

.steps{
	background-color: orange;
	border-radius: 10px;
	text-align: center;
	color: black;
	font-weight: bold;

}

.steps:hover{
	background-color: yellow;
	cursor: pointer;
	color: black;
	transform: scale(1.5);
}
